.todolist {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: left;
     font-size: 1rem;
     color: rgb(78, 125, 115);
     .input {
          color: rgb(215, 77, 51);
          display: inline-block;
          margin:1rem;
          border: 0;
          background-color: rgba(229, 161, 56, 0.5);
          font-size: 2.5rem;
          height:3.5rem
     }
}
.list{
     color: rgb(78, 125, 115);
     font-size: 20px;
     button {
          font-size: 11px;
     }

}


