.todolist {
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1rem;
     color: rgb(78, 125, 115);
     .input {
          color: rgb(215, 77, 51);
          display: inline-block;
          margin:1rem;
          border: 0;
          background-color: rgba(229, 161, 56, 0.7);
          font-size: 2.5rem;
          height:3.5rem;
          max-width: 60%;
     }
}
.list{
     color: rgb(78, 125, 115);
     font-size: 20px;
     button {
          font-size: 11px;
     }

}
h4{
     color: rgb(215, 77, 51);
}
a{
     color: rgb(78, 125, 115);
}
p{ 
     font-style: italic;
     color: rgb(141, 49, 19);
}


