.entries{
     display: grid;
     grid-template-columns: 3;

}
.card {
     border: 1px solid #ddd;
     border-radius: 8px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;     
}
   