.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
   }
   
   .card {
	display: flex;
	flex-direction: row; /* Horizontal layout */
	width: 90%;
	max-width: 1100px; /* Maximum width for the card */
	max-height: 200px; /* Maximum height for the card */
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
   }
   
   .imageContainer {
	flex: 0 0 30%; /* Image takes up 40% of the card width */
	position: relative;
	max-height: 90%; /* Ensure the image container doesn’t exceed card height */
   }
   
   .image {
	align-self: flex-start;
	object-fit:inherit;
	width: 30%; /* Full width */
	height: 100%; /* Full height */
	max-height: 300px; /* Maximum height of the image */
	border-radius: 8px 0 0 8px; /* Rounded corners on the left */
   }
   
   .textContainer {
	flex: 1 1 60%; /* Text content takes up the remaining 60% */
	padding: 16px;
	display: flex;
	line-height: normal;
	flex-direction: column;
	justify-content: space-between; /* Space out the content vertically */
	overflow-y: auto; /* Allow scrolling if content is too long */
   }
   
   .title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 8px;
   }
   
   .details, .text {
	margin-bottom: 8px;
   }
   
   .cardAuthor {
	font-size: 0.9em;
	color: #666;
   }