.todo {

     font-size: 1.6rem;
     color: rgba(229, 161, 56, 0.5);
    
}
.button {
     background-color: rgba(229, 161, 56, 0.1);
     border-style: dotted;
     border-color: rgb(78, 125, 115);
    
     color: rgba(215, 77, 51,0.5);
     padding: 0.25rem 1rem;
     font-size: 1ch;
     font-weight: 500;
     // display: inline-block;
     margin-left: 1rem;
     border: 1px;
     box-shadow: 0 2px 5px rgba(229, 161, 56,.7);

}
