.card-grid{
     margin-top: 40px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-gap: 20px;
}
.card {
     perspective: 1000px;
     position: relative;
     color: black;
}
.card > div{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     transition: transform 0.8s;
}

.card img {
     height: 75px;
     width: 75px;
     display: block;
     border: 2px solid #fff;
     border-radius: 6px;
}

.card {
     height: 75px;
     width: 75px;
     border: 2px solid #fff;
     border-radius: 6px;
}




.card .back, .card .front{
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust the font size as needed */
}
.card .front {
     transform: rotateY(90deg);
     transition: all ease-in 0.2s;
     position: absolute;
     font-size: xx-large;
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.flipped .front {
     transform: rotateY(0deg);
     transition-delay: 0.2s;
}

.card .back {
     transition: all ease-in 0.8s;
     transition-delay: 0.2s;
     justify-content: center;
}

.flipped .back {
     transform: rotateY(90deg);
     transition-delay: 0s;
}