/* Center .container and ensure .carousel is centered within it */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* centers vertically based on viewport height */
  margin: 0 auto;
  width: 100%;
}

/* Style adjustments for .carousel to ensure centering */
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%; /* or adjust as necessary */
  max-width: 600px;
  height: auto;
  padding: 1rem;
  background-color: rgba(210, 229, 229,.7);
  border-radius: 0.5rem;
  box-shadow: mediumblue;
}

/* Adjusting slide and positioning arrows correctly */
.slide {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slide-hidden {
  display: none;
}

/* Centering arrows on the sides of the .carousel */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(133, 184, 33, 0.524);
  cursor: pointer;
}

.arrow-left {
  left: -2rem; /* Adjust to position the arrow at an appropriate distance */
}

.arrow-right {
  right: -2rem; /* Adjust for spacing consistency */
}

.arrow:hover {
  filter: brightness(1.2);
}

/* Indicator positioning and styling */
.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;

  margin: 0 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator-inactive {
  background-color: red;
}

@media only screen and (max-width: 650px) {
  /* Adjust carousel for smaller screens */
  .carousel {
    width: 90%;
  }

  .arrow {
    width: 2.5rem;
    height: 2.5rem;
  }
}
