.container{
  align-items: center;
  background-color: yellow;

}
.carousel{
  box-shadow: 0px 0px 100px 20px rgba(245, 245, 245, 0.182), 
               0px 0px 100px 20px rgb(243, 120, 161);
                height: 100%;
                width: 100%;
                justify-content: center;
                background-color: chartreuse;

}