.haikuCard {
     padding: 1rem;
     border-radius: 8px;
     margin: 1rem 0;
     background-color: #faeded;
     border-style: dotted;
     border-color: adjust-hue($color: yellow, $degrees: 0);
     box-decoration-break: slice;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.text {
     line-height: 1.2;
     margin: 0.5rem 0;
     font-size: 1rem;
}

@media (max-width: 768px) {
     .text {
          line-height: 0.9;
          /* Slightly tighter spacing on smaller screens */
          margin: 0.3rem 0;
          /* Reduce margin further */
     }
}