/* @media only screen and (min-height: 350px) {
} */
   /* root{
    height : '100%'
   } */
   App{
    max-width: 500px;
    align-content: center;
    align-items: center;
   }
   
   .App-header {
     background-color: #282c34;
     /* min-height: 100vh; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
   }
   .read-more__button {
    display: inline;
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    color: rgb(162,134,109);
     }
     
     .read-more__button:hover {
    text-decoration: underline;
     }
     
     .read-more__text--hide {
    max-height: 0;
    font-size: 0;
    opacity: 0;
     }
     
     .read-more__text--show {
    max-height: 10em;
    opacity: 1;
    font-size: inherit;
     }
     
     .read-more__text--remaining {
    transition: opacity 240ms ease;
     }
     button{
    position: relative;
     }
     select {
    font-weight: 400;
     }
     .button {
    font-size: xxx-large;
    border: none;
    }

   
   