body {
     margin: 1fr;
     /* padding:1fr; */
     height: 70vh;
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: center;
     background-color: rgba(229, 161, 56, 0.6); 
}

Header {
     position: sticky;
     top: 0;
}

.container {
     top:0;

     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 30px;

     justify-content: space-between;
     align-items: left;

}

image {

     object-fit: none;
     width: 100%;
}

.shower {
     display: flex;
     flex-direction: row;
     border-style: double; 
     border-top-color: rgb(215, 77, 51);
     border-right-color: rgb(215, 77, 51);
     border-left-color: rgb(215, 77, 51);
     border-bottom-color: rgb(215, 77, 51);
     /* background-color: rgba(215, 77, 51, 0.1); */
     align-items: center;

     /* margin-right: 20px; */

}

/* .one {
     /* flex:1;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box; 
     border: 14px double rgb(78, 125, 115,.8);
     outline: 6px rgba(78, 125, 115, 0.6); 
} */

.two {

     border: 14px double rgb(229, 161, 56);
   outline: 6px rgba(229, 161, 56,.2); 
}

.three {
     border: 14px double rgb(211, 117, 81);
     outline: 6px rgba(229, 161, 56,.2); 
}

.four {

     border: 14px double rgb(141, 49, 19);
     outline: 6px rgba(229, 161, 56,.2); 
}

.five {
     border: 14px double rgba(78, 125, 115,.4);
     outline: 6px rgba(229, 161, 56,.2); 
     
}

.six {
border: 14px double rgba(211, 117, 81,.3);
outline: 6px rgba(229, 161, 56,.2); 


 }

.seven {

     border: 14px double rgba(141, 49, 19,.2); 
     outline: 6px solid rgba(78, 125, 115, rgba(78, 125, 115, .5));  
}


.eight {
     border: 14px double rgba(229, 161, 56, .2); 
     outline: 6px rgba(229, 161, 56,.2); 


}

h2{
     color:  rgb(215, 77, 51);
  }
