
*{
     text-decoration-style: wavy;
     text-decoration-color: rgba(212,175,55, 0.8);
}
body {

     margin: 1fr;
     padding:1fr;
     /* min-height: 100vh; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgba(229, 161, 56, 0.6); 
}

/* Header {
     position: sticky;
     top: 0;
} */

.container {
     top:0;
     /* height: 20px; */
     display: flex;
     flex-flow: column wrap;
     max-width: 60%;

     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 50px;
     max-height: min-content;
     justify-content: space-between;
     align-items: center;
   

}

image {
     resize:both;

     object-fit: none;
     width: 100%;
}

.shower {
     display: flex;
     flex-direction: row;
     border-style: double; 
     border-top-color: rgba(215, 77, 51,0.5);
     border-right-color: rgba(215, 77, 51,0.5);
     border-left-color: rgba(215, 77, 51,0.5);
     border-bottom-color: rgba(215, 77, 51,0.5);
     /* background-color: rgba(215, 77, 51, 0.1); */
     align-items: center;

     margin-right: 20px;

}

.one {
     /* flex:1;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;  */
     border: 14px double rgba(212,175,55,0.4);
     outline: 6px rgba(212,175,55, 0.6); 
     outline-style: ridge;
     border-style:ridge;
}

.oneTwo {
     flex:1;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box; 
     border: 14px double rgba(212,175,55,0.4);
     outline: 6px rgba(212,175,55, 0.6); 
     outline-style: ridge;
     border-style:ridge;
}
.two {

     border: 14px double rgb(229, 161, 56);
   outline: 6px rgba(229, 161, 56,.2); 
   outline-style: ridge;
     border-style:ridge;
}

.three {
     border: 14px double rgba(211, 117, 81, .4);
     outline: 6px rgba(229, 161, 56,.2); 
     outline-style: ridge;
     border-style:ridge;
     
}

.four {

     border: 14px double rgba(141, 49, 19,0.4);
     outline: 6px rgba(229, 161, 56,.8); 
     outline-style: ridge;
     border-style:ridge;
}

.five {
     border: 14px double rgba(78, 125, 115,.4);
     outline: 6px rgba(229, 161, 56,.2); 
     outline-style: ridge;
     border-style:ridge;
     
}

.six {
border: 14px double rgba(211, 117, 81,.3);
outline: 6px rgba(229, 161, 56,.2); 
outline-style: ridge;
     border-style:ridge;


 }

.seven {

     border: 14px double rgba(141, 49, 19,.2); 
     outline: 6px solid  rgba(78, 125, 115, .5);  
     outline-style: ridge;
     border-style:ridge;
}


.eight {
     border: 14px double rgba(229, 161, 56, .2); 
     outline: 6px rgba(229, 161, 56,.2); 
     outline-style: ridge;
     border-style:ridge;


}

h2{
     color:  rgb(215, 77, 51);
  }
 